/* Google Fonts
font-family: 'Chonburi', serif;
*/


/* background color for the pages is a light blue*/
body {
	background-color:lightblue;
	text-align:center;
}
/* style for the header that will apear on every page*/
header {
        background-color:cornflowerblue;
        background-image: url(http://image.shutterstock.com/z/stock-photo-cross-on-sunset-blur-autumn-glorify-peace-bless-amen-religion-hosanna-lent-god-mercy-323384795.jpg);
        background-repeat: repeat-x;
        background-position: top;
        height: auto;
        width:100%;
        outline-style: solid;
        text-align: center;
        font-size:30px;
        font-family:'Chonburi', cursive;
        font-weight:bold;
        margin:0 auto;
        z-index: 1;
} 
.nav {
    height:80px; 
    background-color:dodgerblue;
    display:inline-block;
    width:100%;
    margin: 0 auto;
    border: black solid;
    overflow:auto;
}
.nav ul {
    list-style:none;
    width:50%;
    text-align:center;
    margin:auto;
    padding: 1% 0% 2% 10%;
}
.nav ul li a {
    float:left;
    display:inline;
    background-color:lightblue;
    color:navy;
    text-align:center;
    text-decoration:none;
    border:black solid 2px;
    border-radius: 20%;
    padding: 1%;
    font-size:20px;
}
.nav ul li a:hover {
    background-color:navy;
    color:yellow;
    font-size:1.5em;
}
ul {
    list-style:none;
}    
header p {
        text-align:center;
        font-size:30px
}
 /* style for the subheading on the individual pages*/
#pagetitle {
    text-decoration:underline;
    font-family: Verdana;
}
/*remove the bullets from the list items*/
h2 ul li {
    list-style: none;
}
/* display all divs next to each other*/
div {
    display:inline-block;
}
/* format for the middle container (main content) of each page*/
.main {
        margin:auto;
        width:55%;
        height: 500px;
        outline: solid;
        Display:inline-block;
        background-color:#FFF2D3;
        overflow:auto;
}
.leftside table {
    position:relative;
    width: 100%;
}
 table {
     width:100%;
     margin:auto;
 }
 th {
     text-transform: uppercase;
     font-weight: bolder;
 }
 td {
     font-weight: bold;
     line-height: 1.5;
     border: navy solid 1px;
 }
 table img {
     position:relative;
     height:75px;
     width:75px;
}
.homemain {
    text-align: center;
    font-size: larger;
}
/* Remove the underline from associated text*/
.noline {
    text-decoration: none;
}
#pastorc {
    float:left;
    height: 20%;
    width:20%;
}
#bldg  {
    float:right;
    height: 20%;
    width:20%;
}
#bldg2 {
    height:20%;
    width:20%;
}
#donate {
    position: relative;
    margin-bottom: auto;
    background-color: blue;
}

#mainquote h3 {
    font-family:cursive;
    color:red;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}
/* the current month has a different border */
#cur-month {
    border: thick red dashed;
    float:left;
    height: 65%;
    width:27%;
    margin: 2% 0% 2% 3%;
    font-weight: bold;
    overflow: auto;
    border-radius: 20%;
}
.month {
    height: 65%;
    width: 27%;
    border: black solid;
    margin:2%;
    display: inline-block;
    overflow: auto;
    border-radius:20%;
}

h2 {
    text-decoration:underline;
    text-align:center;
}
h3 {
    text-decoration:underline;
    text-align:center;
    margin:0px;
}
h3 a:hover {
    background-color:navy;
    color:yellow;
    font-size:1.5em;
}

/*style for content on the right side of the page*/
.rightside {
        background-color:#CCFFFF;
        color:navy;
        border: 2px solid navy;
        height: 500px;
	    width: 19%;
	    border-radius: 5px;
	    float:right;
	    margin:auto;
	    overflow:auto;
}
.rightside img {
    border: none;
    position: relative;
    margin: 3% auto;
    padding:1%;
    height:auto;
    width:40%;
}
/*style for content on the left side of the page*/
.leftside {
        background-color:#CCFFFF;
        color:black;
        border: 2px solid navy;
        height: 500px;
	    width: 19%;
	    border-radius: 5px;
	    float:left;
	    overflow:auto;
}
.leftside img {
    height:46%;
    width: 90%;
    border: solid black 1.5px;
    margin: 1% 2% 2% 2%;
}

.leftside a:hover {
    background-color: yellow;
    border: dashed red 2px;
}


/*style for the site to link to a daily bible verse*/
#bibleverse {
    font-family:cursive;
    font-size: 1.5em;
    text-decoration:none;
}

/* the link for the bible verse will appear twice as large*/
span {
    text-decoration: underline;
    color:red;
    font-size:2em;
}
.pictures td {
    height:auto;
    width: auto;
    border-style:hidden;
}
/* footer to appear at the bottom of every page */
footer { 
        background-color:#708090; 
        color:navy; 
        width:100%;
        height:85px;
        margin:0 0 0 0;
        font-family:Helvetica, sans-serif;
        font-weight: bold;
        outline:solid black 2px;
        text-align:center;
        padding:0px;
        clear:both;
}
footer a {
    color:white;
}
footer a:hover {
    font-size:1.5em;
    color:yellow;
}